/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

button, input{
  width: 100%
}

.text-grey, .text-caption{color: #929292}
.text-black, .text-title{color: #000000}
.text-bold{font-weight: 700;}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.vertical-margin-10{
  margin-top: 10px;
  margin-bottom: 10px;
}